.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Sidebar {
  width: 20%;
  border-right: 1px solid;
}

.Content {
  width: 80%;
}

.Content h3 {
  text-align: left;
  margin-left: 10px;
}

.MessagePane {
  height: 70vh;
  overflow: scroll;
  margin-left: 10px;
}

.SenderPane {
  border-top: 1px solid;
}

.MessagePane .message {
  padding: 10px;
  border: 1px solid;
  margin-bottom: 5px;
  text-align: left;
}

.Sidebar .menu-item div {
  border: 1px solid;
  text-align: left;
  padding: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  margin-left: 10px;
}

.Sidebar a.menu-item {
  color: white;
  text-decoration: none;
}
